:{$PORT:8080} {

    # =====================================
    # SECURITY HEADERS
    # =====================================

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-Robots-Tag "noindex, nofollow"
    }


    # =====================================
    # VLESS gRPC
    # =====================================

    handle /vless-grpc-virgozki* {
        reverse_proxy h2c://127.0.0.1:10012 {
            transport http {
                versions h2c
                flush_interval -1
                read_timeout 3600s
                write_timeout 3600s
            }
        }
    }


    # =====================================
    # VMESS gRPC
    # =====================================

    handle /vmess-grpc-virgozki* {
        reverse_proxy h2c://127.0.0.1:10013 {
            transport http {
                versions h2c
                flush_interval -1
                read_timeout 3600s
                write_timeout 3600s
            }
        }
    }


    # =====================================
    # TROJAN gRPC
    # =====================================

    handle /trojan-grpc-virgozki* {
        reverse_proxy h2c://127.0.0.1:10014 {
            transport http {
                versions h2c
                flush_interval -1
                read_timeout 3600s
                write_timeout 3600s
            }
        }
    }


    # =====================================
    # SHADOWSOCKS gRPC
    # =====================================

    handle /ss-grpc-virgozki* {
        reverse_proxy h2c://127.0.0.1:10015 {
            transport http {
                versions h2c
                flush_interval -1
                read_timeout 3600s
                write_timeout 3600s
            }
        }
    }


    # =====================================
    # MAIN UI
    # =====================================

    handle {
        root * /usr/local/openresty/nginx/html
        file_server
    }


    # =====================================
    # COMPRESSION
    # =====================================

    encode gzip zstd
}
