global
    log stdout format raw local0 info
    maxconn 2000

defaults
    log global
    mode http
    timeout connect 10s
    timeout client 3600s
    timeout server 3600s

frontend http_front
    bind 127.0.0.1:8443
    default_backend xray_nodes

backend xray_nodes
    balance roundrobin
    server xray1 127.0.0.1:10000 check inter 5s rise 2 fall 3
    server xray2 127.0.0.1:10012 check inter 5s rise 2 fall 3
